/* =======================================-REVIEWS-BLOCK-======================================= -*/

.reviews-block{
    margin-bottom: 10rem;
}

.reviews-block_slaider {
    width: 80%;
    margin: 0 auto;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 4rem;

}

.slider-gallery {
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    text-align: center;
}

.slide-content img {
    max-width: 100%;
    max-height: 60%;
    object-fit: contain;
    margin-bottom: 10px;
}

.slide-content p {
    font-size: 28px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #050c33; 
}


.slider-page-info {
    text-align: center; 
    margin-top: 10px;
    font-size: 64px;
    font-family: "Montserrat";
    color: #050c33; 
}


.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px; 
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 10;

  margin-top: 51.5rem;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick'; 
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 14rem;
}

.slick-next {
  right: 14rem; 
}

.slick-prev:before {
  content: '\2190';
}

.slick-next:before {
  content: '\2192'; 
}

.img2{
    width: 10rem;
}


@media screen and (min-device-width: 992px){
    .slide-content p {
        font-size: 28px;
    }


    .slider-page-info {
        font-size: 34px;
    }


    .slick-prev,
    .slick-next {
    margin-top: 35.5rem;
    }


    .slick-prev {
    left: 600px;
    }

    .slick-next {
    right: 600px; 
    }

    .slick-prev:before {
    content: '\2190';
    }

    .slick-next:before {
    content: '\2192'; 
    }

    .img2{
        width: 7rem;
    }
}