/* =======================================-WEBFORM-BLOCK-======================================= */

.webform-block{
    background: linear-gradient(to left, #3303e0, #0d153d);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1900px;
    margin-top: 1rem;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
}


.webform-block_text-h1{
    font-family: "Montserrat";
    color: #FFF;
    text-align: center;
    font-size: 50px;
}

.webform-block_text-p{
    font-family: "Montserrat";
    color: #FFF;
    text-align: justify;
    font-size: 30px;
    font-weight: 200;
    padding: 2rem;
}

.webform-block_contact-p{
    font-family: "Montserrat";
    color: #FFF;
    font-size: 54px;
    font-weight: 700;
    padding: 2rem;
}

.webform-block_contact-a{
    font-family: "Montserrat";
    color: #FFF;
    font-size: 34px;
    padding: 2rem;
}

button.webform-block_form-sumbit{
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;

    background-color: #F14D34;
    color: #FFFFFF;

    font-weight: 500;
    font-size: 26px;
    padding: 20px 60px;
    cursor: pointer;
}

button.webform-block_form-sumbit:hover{
    color: #F14D34;
    background-color: #FFF;
}

.form-block {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    font-family: "Montserrat";

    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    font-size: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: linear-gradient(to left, #0f163a, #0b0f2b);
    color: #fff;
    box-sizing: border-box; 
    font-size: 3rem;
}

textarea {
    resize: vertical;
}

.agree-group {
    display: flex;
    align-items: flex-start; 
    font-size: 25px;
}

.agree-group input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 4px; 
}

.agree-group label {
    display: inline;
}


.checkbox {
  transform: scale(2.5); 
}


.webform-block_link-div{
    display: grid;
    place-items: center;
    padding: 2rem;
}

.webform-block_form{
    margin-top: 5rem;
}

.webform-block_contact-d{
    color: #fff;
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 300;
    padding: 2rem;
}

.webform-block_contact-img{
    display: flex;
    flex-direction: row;
}

.webform-block_contact-img img{
    width: 60px;
    height: 60px;
    margin-left: 2rem;
    margin-top: 4rem;
}

.required-label:after {
  content: " *";
  color: red;
}


.form-message-area{
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat";    
}

.webform-bloc_feedback-form-and-showMessage{
    display: flex;
    flex-direction: column;
}

@media screen and (min-device-width: 992px){
    .webform-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1300px;
        margin-top: 1rem;
 
    }

    .webform-block_text-contact{
        display: flex;
        flex-direction: column;
    }

    .webform-block_text-contact-form{
        display: flex;
        flex-direction: row;
    }


    .webform-block_text-h1{
        text-align: left;
        font-size: 50px;
        padding: 20px;
    }

    .webform-block_text-p{
        text-align: justify;
        font-size: 30px;
        padding: 2rem;
        width: 60%;
    }

    .webform-block_contact-p{
        font-size: 54px;
        font-weight: 700;
        padding: 2rem;
    }

    .webform-block_contact-a{
        font-family: "Montserrat";
        color: #FFF;
        font-size: 34px;
        padding: 2rem;
    }

    button.webform-block_form-sumbit{
        font-size: 18px;
        padding: 20px 60px;
    }


    .form-block {
        margin-right: 10rem;
        width: 1000px;
        padding: 20px;
        border-radius: 5px;

        display: flex;
        flex-direction: column;

    }

    .form-group {
        margin-bottom: 20px;
        font-size: 30px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 30px;
        border: 1px solid #fff;
        border-radius: 5px;
    }

    textarea {
        resize: vertical;
    }

    .agree-group {
        display: flex;
        align-items: flex-start; 
        font-size: 15px;
    }

    .agree-group input[type="checkbox"] {
        margin-right: 10px;
        margin-top: 4px; 
    }

    .agree-group label {
        display: inline;
    }

    .webform-block_link-div{
        display: grid;
        place-items: center;
        padding: 2rem;
    }

    .webform-block_form{
        margin-top: 5rem;
    }

    .webform-block_contact-d{
        font-size: 25px;
        font-weight: 300;
        padding: 2rem;
    }

    .webform-block_contact-img{
        display: flex;
        flex-direction: row;
    }

    .webform-block_contact-img img{
        width: 60px;
        height: 60px;
        margin-left: 2rem;
        margin-top: 4rem;
    }
}